body {
	background-color: 	lavender;
}

#all-pets{
	background-color: darkblue;
	text-align: center;  
}
.individual-pet{
	border-style: solid;
	border-width: 1px;
}
img{
	width:150px;
	height:150px;
}
h2{
	color: #00ffcc;
	font-family:"comic sans MS";
}
li{
	color: #00e6e6;
	font-family: "comic sans MS";
}
h3{
	color: #00ffcc;
}